@{
    ViewBag.Title = "Lesson3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kỹ năng mềm - Trang mở đầu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-xxxxxxx" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/Lesson3.css">

</head>



<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">Về Trang Chủ </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


        </nav>
    </header>

        <main>
            <div class="Header">
                <div class="logo"><img src="~/Content/images/tổng hợp các kỹ năng quản lý tg.png"></div>
                <h2>Kỹ Năng Quản Lý Thời Gian</h2>

            </div>
            <div class="title">
                <div class="content">
                    <div class="content-1">
                        <h4>1.	Khái niệm:</h4>
                        Là  cách sắp xếp thời gian một cách cụ thể và chi tiết, bạn sẽ thường xuyên phải lo rượt đuổi thời gian, cuộc sống sẽ luôn xoay vòng và mệt mỏi.                    <br> <br>
                    </div>
                    <div class="content-2">
                        <h4>2.	Lí do cần có kỹ năng giải quyết vấn đề:</h4>
                        •	Gia tăng năng suất và hiệu quả công việc
                        <br>•	Giảm thiểu áp lực công việc
                        <br> •	Cân bằng cuộc sống hợp lí
                        <br>•	Loại bỏ thói quen không tốt<br> <br>
                    </div>
                    <div class="content-1">
                        <h4>3.	Các phương pháp quản lý thời gian hiệu quả:</h4>
                        <p>
                            •	Phương pháp quản lý thời gian M.I.T. (Most Important Tasks): Most Important Tasks sẽ tập trung vào một số việc quan trọng nhất cần làm trong ngày. Phương pháp này sẽ hỗ trợ bạn phân chia công việc hợp lý để tiết kiệm thời gian. Những công việc ưu tiên nên thuộc nhóm Khẩn cấp & quan trọng ở trong Ma Trận Eisenhower.
                            <br>•	Phương pháp quản lý thời gian bằng ma trận Eisenhower: Ma Trận Eisenhower là một mô hình bao gồm có 4 tiêu chí: Khẩn cấp và không khẩn cấp; Quan trọng và không quan trọng. Bạn nên sắp xếp công việc dựa theo mô hình này để ưu tiên các công việc quan trọng cần phải thực hiện ngay. Ma trận này sẽ hỗ trợ việc ra quyết định và sử dụng thời gian hiệu quả.
                            <br>•	Phương pháp Pomodoro: Phương pháp Pomodoro sẽ giúp bạn tập trung trong công việc. Cụ thể, bạn sẽ làm việc theo chu trình làm 25 phút sau đó nghỉ 5 phút và lặp lại quá trình đó. Theo nghiên cứu, cách này sẽ tạo áp lực thời gian để bạn chú ý làm việc. Ngoài ra, thời gian nghỉ ngơi hợp lý sẽ có ích cho sức khỏe và cho bạn cảm giác thư giãn.
                            <br>•	Phương pháp The 2-Minute Rule: Quy tắc này đã được tác giả David Allen đề cập trong cuốn Getting Things Done. Nội dung của phương pháp này là bạn không nên trì hoãn những việc có thể làm dưới 2 phút. Ngay lúc này, bạn thử liệt kê và làm ngay những việc có thể thực hiện trong vòng 2 phút nhé!
                            <br>•	Phương pháp Batching (Làm theo nhóm): Batching là phương pháp được Tim Farris viết trong cuốn sách “Tuần làm việc 4 giờ” Phương pháp này khuyên bạn làm theo nhóm đối với những việc không quan trọng, chưa cần thiết.
                            <br>
                            <br>
                        </p>
                    </div>
                    <div class="content-2">
                        <h4>4. Các bước quản lý thời gian hiệu quả</h4>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/uhhRIDB7AVI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        <br>
                    </div>
                    <div class="content-1">
                        <br>
                        <h4>5.	Một số mẹo nhỏ để quản lý thời gian hiệu quả</h4>
                        <p>
                            •	Lập kế hoạch hiệu quả: Đặt ra được mục tiêu lớn nhất => Xác định được các nhiệm vụ cần làm để đạt được mục tiêu => Chuẩn bị cho mình các tài nguyên, tài nguyên ở đây có thể là kỹ năng, kiến thức, chuyên môn cần có để xử lý công việc => Lên lịch trình cụ thể và tính toán được thời gian.
                            <br>•	Quản lý thời gian nhờ công nghệ: Lựa chọn các phầm mềm phù hợp để quản lý công việc 1 cách hiệu quả và tiết kiệm thời gian như : Toggl, Workflow, , RescueTime, Timely,  MyLifeOrganized,..
                            <br>•	Giành thời gian để giải lao: Bộ não của bạn cũng cần phải được nghỉ ngơi và tái tạo sức lao động.Hãy dành cho mình một chút thời gian giải lao trong ngày. Việc giải lao đúng cách vừa giúp bạn có được thời gian nghỉ ngơi quý giá từ đó đầu óc được nghỉ ngơi sẽ giúp bạn tư duy sáng tạo và làm việc có hiệu quả hơn.
                            <br> <br>
                        </p>
                    </div>
                    <div class="content-2">
                        <h4>6. Video tham khảo</h4>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/2bsZTPsW_Mc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>



                </div>
            </div>
        </main>
</body>
