body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #ddb892; /* thay đổi giá trị này thành màu vintage mong muốn */
}

main {
    margin: 50px 0;
}

.jumbotron {
    background-image: url('https://picsum.photos/1920/1080');
    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding: 200px 0;
}

    .jumbotron h1 {
        font-size: 50px;
        margin-bottom: 20px;
    }

    .jumbotron p {
        font-size: 24px;
        margin-bottom: 40px;
    }

.button {
    display: inline-block;
    background-color: #ddb892;
    ;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #ddb892;
    ;
}

.offer {
    background: linear-gradient(to bottom, #a37b5f, #fceec7);
    width: auto; /* chỉnh chiều rộng của hộp offer */
    height: auto; /* chỉnh chiều cao của hộp offer */
    margin: 0 auto; /* căn giữa hộp offer trong trang web */
    display: block; /* định dạng hiển thị của hộp offer */
}

    .offer .container {
        max-width: 1200px;
        margin: 0 auto;
        text-align: center; /* căn giữa nội dung trong khung .offer */
    }

.offer-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 600px;
    position: relative;
    animation: slide-in 1s ease-in-out forwards;
}

.offer h1, .offer p {
    text-align: center; /* căn giữa văn bản trong hộp */
    margin-top: 120px; /* chỉnh khoảng cách giữa hộp offer và hai hộp khác */
    position: relative;
    font-style: italic;
}

.offer h1 {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}


/*featuer*/

.features {
    background-color: #ddb892;
    ;
    padding: 50px 0;
}

    .features .card {
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 30px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .features .card-img-top {
        height: 250px;
        object-fit: cover;
    }

    .features .card-body {
        padding: 30px;
    }

    .features .card-title {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .features .card-text {
        font-size: 18px;
        color: #666;
        margin-bottom: 30px;
    }

    .features .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        font-weight: bold;
    }

        .features .btn-primary:hover {
            background-color: #0069d9;
            border-color: #0062cc;
        }

/* Style cho footer */
footer {
    background-color: #ddb892;
    ;
    padding: 10px;
    font-size: 14px;
}

    footer h4 {
        font-size: 18px;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 20px;
    }

    footer p {
        margin-bottom: 20px;
        padding: 10px;
        background-color: #f2f2f2;
        border: 0px solid #ccc;
        box-shadow: 2px 2px 4px #ccc;
        min-height: 0px;
    }


    footer h5 {
        margin-bottom: 50px;
        font-size: smaller;
    }

    footer ul {
        margin-bottom: 20px;
    }

        footer ul li {
            line-height: 2;
        }

            footer ul li i {
                margin-right: 10px;
            }

    footer .social-network {
        display: flex;
        flex-wrap: wrap;
    }

        footer .social-network li {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 0;
            margin-top: 10px; /* thêm margin-top để tạo khoảng cách */
        }

            footer .social-network li a {
                color: #333;
                display: block;
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                border-radius: 50%;
                border: 1px solid #333;
                overflow: hidden; /* thêm dòng này */
            }

                footer .social-network li a img {
                    width: 100%;
                    height: auto; /* thêm dòng này */
                    display: block; /* thêm dòng này */
                    margin: 0; /* thêm dòng này */
                    padding: 0; /* thêm dòng này */
                }

@media (max-width: 767px) {
    footer .social-network li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
}
