body {
    background-image: url('images/loginbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 450px;
    padding: 40px;
    margin: 20px;
    transform: translate(-50%, -55%);
    background: #d3c3b3;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    margin-left: calc((100% - 1000px) / 2);
}

    .login-box p:first-child {
        margin: 0 0 30px;
        padding: 0;
        color: #fff;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .login-box .user-box {
        position: relative;
        color: blueviolet;
    }

    .login-box .btn-remenber {
        position: relative;
        text-align: left;
        color: #aaa;
        font-size: 15px;
    }

    .login-box .btn-login {
        text-align: center;
    }

    .login-box .user-box input {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
    }

    .login-box .user-box label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: .5s;
    }

    .login-box .user-box input:focus ~ label,
    .login-box .user-box input:valid ~ label {
        top: -20px;
        left: 0;
        color: #03a9f4;
        font-size: 12px;
    }

    .login-box .btn-login input[type="submit"] {
        border: none;
        outline: none;
        height: 40px;
        width: 100%;
        background: #03a9f4;
        color: #fff;
        font-size: 18px;
        border-radius: 20px;
        cursor: pointer;
        transition: .5s;
    }

        .login-box .btn-login input[type="submit"]:hover {
            background: #f441a5;
        }

.checkbox input[type="checkbox"] {
    display: none;
}

.checkbox label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    padding-left: 25px;
}

    .checkbox label:before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 10px;
        position: absolute;
        left: 0;
        top: 3px;
        background-color: #fff;
        border: 1px solid #999;
        border-radius: 3px;
    }

.checkbox input[type="checkbox"]:checked + label:before {
    content: "\2714";
    text-align: center;
    font-size: 12px;
    color: #333;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 3px;
}


@media screen and (max-width: 800px) {
    .login-box {
        width: 90%;
        height: auto;
        padding: 20px;
        margin: 20px;
    }
}

/* For accessibility: hide label elements that are visually shown by the style */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .login-box .user-box label {
        clip-path: inset(50%);
        clip: rect(1px 1px 1px 1px);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
}
